{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <h2>List of all posts</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Title</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ post.id }}</td>
                <td>
                    {{ post.title }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
